body{
    font-family: 'MackinacReg', serif;
    color: #262626;
}
@font-face {
  font-family: MackinacReg;
  src: url(../P22MackinacPro-Book_25.otf);
}
@font-face {
  font-family: MackinacMed;
  src: url(../P22MackinacPro-Medium_26.otf);
}
@font-face {
  font-family: ProximaNova;
  src: url(../ProximaNova-Bold.otf);
}
@font-face {
  font-family: Rylan;
  src: url(../Rylan-Regular.otf);
}
.main-container{
    max-width: 650px;
    width: 100%;
    padding: 10px;
    margin: 20px auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.title-cell{
    width: 25%;
    margin: 10px 0;
}
.content-cell{
    width: 75%;
}
/*#center-box{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100vw;
    height: calc(100vh - 20px);
    top: 0;
    left: 0;
    width: 100%;
    max-width: 650px;
    margin: auto;
    font-size: 1em;
}*/
.sticky-text{
    position: sticky;
    top: 10px;
}
.divider-block{
    border-bottom: 2px solid black;
    margin: 25px 0 25px 0;
}
.nav{
    display: inline-block;
    font-weight: 700;
    font-size: 1.1em;
    margin: 5px 10px 0 0;
}
.small-bold-text{
    font-family: ProximaNova;
    font-size: 1.1em;
    margin: 5px 0;
    text-transform: uppercase;
}
.bold-text{
    font-family: Rylan;
    font-size: 2em;
    margin: 5px 0;
}
.body-text{
    margin: 10px 0;
    font-weight: 400;
}
.big-body-text{
    margin: 10px 0;
    font-family: MackinacMed, serif;
    font-size: 1.2rem;
}
.hyperlink{
    text-decoration: underline;
}
a{
    color: #4286f4;
    text-decoration: none;
}